Creaci√≥n de NoteBook

Carga de librerias

In [8]:
import os
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
import urllib.request
import kagglehub
import shutil
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt #Graficar
import seaborn as sns
from collections import Counter
import math
import logging

Descarga de los datos

In [5]:
# Descargar dataset con kagglehub (lo guarda en cache interna)
path = kagglehub.dataset_download("ranjeetjain3/seaborn-tips-dataset")

# Copiar el dataset descargado a la ruta que quieras
destino = "MLOPS_Project/data"
shutil.copytree(path, destino, dirs_exist_ok=True)

print("Dataset guardado en:", destino)

Dataset guardado en: MLOPS_Project/data

Lectura del Set de Datos

In [6]:
datos = pd.read_csv("MLOPS_Project/data/tips.csv")
datos.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Visualizacion Datos Nulos

In [12]:
logger= logging.getLogger(__name__)
logging.basicConfig(level=logging.INFO)
logger.info("\nValores nulos por columna:\n%s", datos.isnull().sum())

INFO:__main__:
Valores nulos por columna:
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64